body {
  background-color: #282c34;
  color: white;
}

header {
  background-color: #525357;
  display: flex;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  max-width: max-content;
  text-align: center;
}

div {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  margin: 10px;
  text-align: center;
}

span , p {
  margin: 10px;
}
